body {
    background-color: rgb(50, 50, 50);
    display: flex;
    padding: 0;
    margin: 0;
  }
  h1 {
    text-align: center;
    color: rgb(120, 124, 161);
    margin: 5px;
    margin-top: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.315);
  }
  p {
    margin: auto;
    padding: 0;
    text-align: center;
  }
  ul,
  li {
    margin: auto;
    padding: 0;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
  }
  ul {
    list-style: none;
  }
  li::before {
    content: "•";
    color: black;
    display: inline-block;
    width: 20px;
    margin-left: 20px;
    text-align: left;
  }
  input::placeholder {
    color: aliceblue;
  }
  button {
    height: 50px;
    width: 50px;
    margin: 5px;
    box-shadow: 5px 5px 15px black;
  }
  #zero-button {
    width: 115px;
  }
  input {
    margin: 5px;
    height: 50px;
    width: 235px;
    text-align: right;
    background-color: black;
  }
  input,
  button {
    font-size: 20px;
    border-radius: 100px;
    color: aliceblue;
  }
  #container {
    border: solid 5px rgba(0, 0, 0, 0.145);
    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.145);
    box-shadow: 5px 5px 15px black;
  }
  .top-left {
    background-color: rgb(133, 210, 206);
  }
  .top-left:hover {
    background-color: rgb(73, 115, 113);
  }
  .right {
    background-color: rgb(2, 63, 143);
  }
  .right:hover {
    background-color: rgb(1, 30, 69);
  }
  .center {
    background-color: rgb(30, 141, 145);
  }
  .center:hover {
    background-color: rgb(16, 78, 80);
  }
  h2 {
    text-align: center;
  }
  #result-display,
  #result-history-container {
    background-color: rgb(114, 122, 136);
    border: solid 5px rgb(97, 99, 120);
    border-radius: 10px;
    height: 20px;
    width: 275px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    color: black;
  }
  #result-display {
    background-color: rgb(0, 0, 0);
    border: solid 5px rgb(89, 89, 89);
    color: greenyellow;
  }
  #result-history-container {
    margin-top: 50px;
    height: 345px;
  }
  #result-history {
    height: 252px;
    width: auto;
    margin: 5px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: rgb(29, 108, 110);
    border-radius: 10px;
    box-shadow: inset 5px 5px 15px black;
  }
  #result-history::-webkit-scrollbar {
    width: 10px;
  }
  
  #result-history::-webkit-scrollbar-track {
    background: #3e3e3e;
    border-radius: 20px;
    margin: 2px;
    padding: 0;
    box-shadow: inset 5px 5px 5px black;
  }
  
  #result-history::-webkit-scrollbar-thumb {
    background: #423e77;
    border-radius: 10px;
  }
  
  #result-history::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  #result-container {
    margin: auto;
    margin-top: 50px;
    margin-left: 0;
  }